@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

body{
    font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

:root {
    --mainC: rgb(99, 22, 214);
    --grayish: rgb(196, 196, 196);
    --gray: rgb(20, 20, 20);
    --midBg: rgb(32, 32, 32);
}

.line{
    color: white;
}

.icons{
    display:flex;
    align-items: center;
    font-size: 2.5rem;
    color: white;
    transition:  color .3s;
}

.icons:hover{
    color: var(--mainC);
}

/* Bal oldali rész */
.leftMainIcon{
    font-size: 2.5rem;
    color: white;
}

.leftMainIcons{
    font-size: 1.3rem;
}

.leftSide {
    position: sticky;
    top: 0;
    bottom:0;
    width: 15rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(10, 10, 10), rgb(20, 20, 20));
    background-repeat: no-repeat;
    row-gap: .5rem;
}

.leftSideTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-top: 1rem;
}

.leftSideTitleText{
    font-family: "Madimi One", sans-serif;
    text-align: center;
    font-size: 3rem;
    color: var(--mainC);
    text-shadow: 0 0 7px #2e2e2e,
    0 0 1px #2e2e2e,
    0 0 1px #2e2e2e,
    0 0 2px rgb(171, 129, 235),
    0 0 2px rgb(171, 129, 235),
    0 0 2px rgb(171, 129, 235),
    0 0 2px rgb(171, 129, 235),
    0 0 51px rgb(171, 129, 235);
    margin: 0;
}

.leftSideFlex {
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 1rem;
    width: 13rem;
    padding: .5rem 3rem .5rem 1rem;
    transition: all .3s;
    color: var(--grayish);
}

.leftSideFlex h5 {
    text-align: center;
    margin: 0;
    padding-left: 1rem;
}

.leftSideFlex:hover {
    background-color: var(--mainC);
    color: white;
}

.leftSideMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.leftSidePlaylists{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    overflow-y: scroll;
}

.leftSidePlaylistsText{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
    width: 13rem;
}

.leftSidePlaylistsText h4 a{
    text-decoration: none;
    color: white;
    transition: all .3s;
}

.leftSidePlaylistsText h4 a:hover{
    color: var(--mainC);
}

.leftSidePlaylistsText .leftMainIcons{
    color: var(--mainC);
}

.leftSideLogout{
    position: sticky;
    top: 100vh;
    bottom: 0;
}

/* Fő része az oldalnak, a középső rész */
main{
    display: flex;
}

.middle{
    width: 100vw;
    background-color: var(--midBg);
}

/* A felső navigációs bár, a keresőfelülettel együtt */
.navPart{
    background-color: var(--midBg);
    padding: 1rem 0;
    position: sticky;
    top: 0;
}

nav{
    background-color: var(--gray);
    width: 98%;
    padding: 1rem .5rem;
    border-radius: 1rem;
    margin: auto;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    color: var(--grayish);
    text-decoration: none;
    transition: all .3s;
    text-align: center;
    font-size: 1.3rem;
}

nav ul li a:hover{
    color: var(--mainC)
}

nav ul .navUlLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

nav ul .navUlMiddle{
   
}

nav ul .navUlMiddle li input{
    width: 25vw;
    border: 1px solid gray;
    padding: 12px;
    font-size: 1rem;
    background-color: var(--midBg);
    color: white;
    border-radius: 12px;
    transition: border .2s;   
    outline: none;
}

nav ul .navUlMiddle li input:hover{
    border: 1px solid white;
}

nav ul .navUlMiddle li input:focus{
    outline: 0;
    box-shadow: 0px 0px 1px 2px white inset;
    color: var(--grayish); 
}

nav ul .navUlRight{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

/* Előadók bemutatkozó része */
.middleMain{
    display: flex;
    justify-content: space-between;
    background-color: red;
    height: 100vh;
}

.middleMainLeft{
    height: 25rem;
    width: 20rem;
    background-color: var(--grayish);
}

.middleMainRight{
    width: 20rem;
    height: 100vh;
    background-color: var(--grayish);
    position: sticky;
    right: 0;
    top: 7.1rem;
}