@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

body{
    font-family: sans-serif;
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    z-index: 100000000;
    transition: opacity 2s, visibility .75s;
}

.loaderHidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 10rem;
    height: 10rem;
    border: 1rem solid #ddd;
    border-top-color: var(--mainC);
    border-radius: 50%;
    animation-name: loading;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes loading{
    from{
        transform: rotate(0turn);
    }

    to{
        transform: rotate(1turn);
    }
}

::-webkit-scrollbar{
    width: .5rem;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--mainC);
    border-radius: 1rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

:root {

    --mainC: rgb(99, 22, 214);
    /* --mainC: rgb(36, 36, 180); */
    --grayish: rgb(196, 196, 196);
    --gray: rgb(20, 20, 20);
    --midBg: rgb(32, 32, 32);
}

.line{
    color: white;
}

.icons{
    display:flex;
    align-items: center;
    font-size: 2.5rem;
    color: white;
    transition:  color .3s;
}

.icons:hover{
    color: var(--mainC);
}

/* Bal oldali rész */
.leftMainIcon{
    font-size: 2.5rem;
    color: white;
}

.leftMainIcons{
    font-size: 1.3rem;
}

.leftSide {
    position: sticky;
    top: 0;
    bottom:0;
    width: 15rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(10, 10, 10), rgb(20, 20, 20));
    background-repeat: no-repeat;
    row-gap: .5rem;
}

.leftSideTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-top: 1rem;
}

.leftSideTitle a{
    display: flex;
    align-items: center;
}

.leftSideTitleText{
    font-family: "Madimi One", sans-serif;
    text-align: center;
    font-size: 3rem;
    color: var(--mainC);
    text-shadow:
    0 0 2px rgb(171, 129, 235),
    0 0 51px rgb(171, 129, 235);
    margin: 0;
}

.leftSideFlex {
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 1rem;
    width: 13rem;
    padding: .5rem 3rem .5rem 1rem;
    transition: all .3s;
    color: var(--grayish);
}

.leftSideFlex h5 {
    text-align: center;
    margin: 0;
    padding-left: 1rem;
}

.leftSideFlex:hover {
    background-color: var(--mainC);
    color: white;
}

.leftSideMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.leftSidePlaylists{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    overflow-y: scroll;
    height: 38%;
    padding-bottom: .5rem;
}

.leftSidePlaylistsText{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    width: auto;
    width: 13rem;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(17,17,17);
    padding: .5rem 0;
}

.fa-plus{
    margin-top: 7px;
    transition: all .3s;
}

.fa-plus:hover{
    color: var(--mainC);
}

.leftSidePlaylistsText h4{
    margin: 0;
}

.leftSidePlaylistsText h4 a{
    text-decoration: none;
    color: white;
    transition: all .3s;
}

.leftSidePlaylistsText h4 a:hover{
    color: var(--mainC);
}

.leftSidePlaylistsText{
    color: var(--mainC);
}

.leftMainIcons{
    color: white;
}

.leftSideLogout{
    background-color: var(--gray);
    position: fixed;
    bottom: 0;
    padding-bottom: 1rem;
}


/* A felső navigációs bár, a keresőfelülettel együtt */
.navPart{
    background-color: var(--midBg);
    padding: 1rem 0 0 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav{
    background-color: var(--gray);
    padding: 1rem .5rem;
    border-radius: 1rem;
    margin: 0 1rem;
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
    animation-name: navAnimation;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
}

@keyframes navAnimation {
    0%{
        opacity: 0;
    }

    50%{
        opacity: .5;
    }

    100%{
        opacity: 1;
    }
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.navUlSlideUp{
    animation-name: navUlAnimationUp;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
}

@keyframes navUlAnimationUp {
    from{
        margin-top: -5rem;
    }

    to{
        margin-top: 0;
    }
}

.navUlSlideDown{
    animation-name: navUlAnimationDown;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
}

@keyframes navUlAnimationDown {
    0%{
        margin-bottom: -5rem;
        opacity: 0;
    }

    25%{
        opacity: 0;
    }

    100%{
        margin-bottom: 0;
        opacity: 1;
    }
}

nav ul li{
    list-style-type: none;
    letter-spacing: 2px;
}

nav ul li a{
    color: var(--grayish);
    text-decoration: none;
    transition: all .3s;
    text-align: center;
    font-size: 1.3rem;
}

nav ul li a:hover{
    color: var(--mainC)
}

nav ul .navUlLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
}

nav ul .navUlMiddle li input{
    width: 25vw;
    border: 1px solid gray;
    padding: 12px;
    font-size: 1rem;
    background-color: var(--midBg);
    color: white;
    border-radius: 12px;
    transition: border .2s;   
    outline: none;
}

nav ul .navUlMiddle li input:hover{
    border: 1px solid white;
}

nav ul .navUlMiddle li input:focus{
    outline: 0;
    box-shadow: 0px 0px 1px 2px white inset;
    color: var(--grayish); 
}

nav ul .navUlRight{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    animation-name: navUlRightAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    position: relative;
    /* background-color: blue; */
}

nav ul .navUlRight li a{
    cursor: pointer;
}

@keyframes navUlRightAnimation {
    from{
        margin-right: -10rem;
    }

    to{
        margin-right: 0;
    }
}

.navDropdownProfile{
    display: none;
    background-color: var(--midBg);
    /* background-color: gray; */
    position: absolute;
    top: 6rem;
    right: 12.9rem;
    width: 20rem;
    height: auto;
    z-index: 10000;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border: 2px solid rgb(36, 36, 36);
}

.navDropdownProfileArrow{
    background-color: var(--midBg);
    /* background-color: #fff; */
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: -.5rem;
    right: 4rem;
    transform:rotate(45deg);
}

.navDropdownProfileText{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: white;
}

.navDropdownProfileText li{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    padding: 1rem;
    border-radius: .8rem 1rem;
}

.navDropdownProfileText li h6{
    margin: 0;
}

.navDropdownProfileText li:hover{
    background-color: var(--mainC);
}

.navDropdownNotifications{
    display: none;
    background-color: var(--midBg);
    position: absolute;
    top: 6rem;
    right: 5.5rem;
    width: 20rem;
    height: 20rem;
    z-index: 10000;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border: 2px solid rgb(36, 36, 36);
    overflow-y: auto;
}

.navDropdownNotificationsArrow{
    background-color: var(--midBg);
    width: 1rem;
    height: 1rem;
    position: fixed;
    top: 5.5rem;
    right: 9.5rem;
    transform:rotate(45deg);
}

.navDropdownNotificationsText{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: white;
}

.navDropdownNotificationsText li{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    padding: 1rem;
    border-radius: .8rem 1rem;
}

.navDropdownNotificationsText li h6{
    margin: 0;
}

.navDropdownNotificationsDelete{
    display: flex ;
    justify-content: center !important;
    gap: 1rem;
    text-align: center;
    padding-bottom: 0;
    color: rgb(152, 96, 236);
}

.navDropdownNotificationsDelete h6{
    text-decoration: 3px underline var(--mainC);
    color: rgb(152, 96, 236);
}

.navDropdownNotificationsDelete:hover{
    background-color: transparent !important;
}

.navDropdownNotificationsText li:hover{
    background-color: var(--mainC);
}

/* Fő része az oldalnak, a középső rész */
main{
    display: flex;
    overflow: hidden;
}

.content{
    display: flex;
    flex-direction: column;
    background-color: var(--midBg);
    width: 100%;
    height: 100vh;
}


.middle{
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.middleMain{
    height: auto;
    width: 100%;
    background-color: var(--midBg);
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    /* background-color: red; */
}

.middleRightSide{
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 40rem;
    background-color: var(--midBg);
    /* background-color: blue; */
    margin: auto;
    padding: 1rem;
}

/* Zenehallgató rész */

.musicListening{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    background-color: var(--gray);
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    padding: 0rem 2rem 0 2rem;
    position: relative;
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
}

.musicListeningTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--grayish);
    position: absolute;
    top: 2rem;
}

.musicListeningTop h3{
    margin: 0;
}

#musicTopIcon{
    color: white;
    font-size: 2rem;
    cursor: pointer;
    margin-left: 10rem;
    transition: all .3s;
}

#musicTopIcon:hover{
    color: var(--mainC);
}

.musicDropdown{
    display: none;
    background-color: var(--midBg);
    height: auto;
    width: 15rem;
    position: absolute;
    top: 4.3rem;
    right: 1rem;
    z-index: 10000;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border: 2px solid rgb(36, 36, 36);
}

.musicDropdownText{
    color: white;
}

.musicDropdownText li{
    display: flex;
    justify-content: start;
    gap: 1rem;
    list-style-type: none;
    cursor: pointer;
    border-radius: 1rem;
    padding: .8rem 1rem;
}

.musicDropdownText h6{
    margin: 0;
}

.musicDropdown i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mainC);
    filter: drop-shadow(0px 3px 10px );
}

.musicDropdown li:nth-child(1), .musicDropdown li:nth-child(2){
    margin-bottom: .5rem;
}

.musicDropdownText li:hover{
    background-color: var(--mainC);
}

.musicDropdownArrow{
    background-color: var(--midBg);
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: -.5rem;
    right: 4rem;
    transform:rotate(45deg);
}

.track-title{
    margin-top: 1rem;
    color: white;
}

.cover{
    width: 10rem;
    height: 10rem;
    border: 10px var(--mainC) solid;
    border-radius: 50%;
    animation-delay: 0;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
}

@keyframes musicDisc{
    from{
        transform: rotate(1turn);
    }
    
    to{
        transform: rotate(2turn);
    }
}

.musicHead{
    margin-top: 5rem;
    position: relative;
}

.musicCircle{
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--mainC);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 5px black);
    z-index: 100;
}

span, small{
    color: #eee;
    
}

small{
    font-size: larger;
}

.timeline-slider{
    margin-top: 3rem;
    width: 20rem;
}

.timeline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range-slider{
    margin-top: .4em;
    position: relative;
    display: flex;
    user-select: none;
}

.slider{
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: .4em;
    outline: none;
    border-radius: 1rem;
    background-color: black;
    cursor: pointer;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1.7em;
    height: 1.7em;
    border-radius: 50%;
    z-index: 3;
    position: relative;
}

.timeline-slider .slider-thumb{
    width: 1.7em;
    height: 1.7em;
    background-image: radial-gradient(rgb(80, 80, 80), rgb(59, 59, 59));
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.timeline-slider .slider-thumb::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: .9rem;
    height: .9rem;
    border-radius: inherit;
    transition: .3s;
    background-color: var(--mainC);
}

.timeline-slider .range-slider:hover .slider-thumb:before{
    background-color: white;
}

.progress{
    width: 50%;
    height: .4em;
    border-radius: 1rem;
    background-image: linear-gradient(90deg, rgb(99, 22, 214), #360bd3);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    pointer-events: none;
}

.volume-slider{
    width: 12rem;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.volume-slider .slider::-webkit-slider-thumb{
    width: 0;
}

.volume-icon{
    margin: 0 .5em;
    cursor: pointer;
}

.volume-icon span{
    font-size: 2em;
}

.btn{
    border: none;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s;
}

.btn:hover{
    background-color: var(--mainC);
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
}

.btn-main{
    background: var(--mainC);
    width: 4.5em;
    height: 4.5em;
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
}

.btn-main span{
    color: #fff;
}

#btnPrev, #btnNext{
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}

#btnPrev:hover, #btnNext:hover{
    filter: drop-shadow(0px 0px 0px);
}

.controls{
    margin-top: 2rem;
}

.controls .btn{
    margin: 1em;
}

.musicLyrics{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--grayish);
    cursor: pointer;
    margin-top: 2rem;
}

.musicLyrics h5{
    margin: 0;
}
/* Előadók bemutatkozó része */
.introduction{
    background-color: var(--gray);
    height: 30rem;
    width: 95%;
    border-radius: 1rem;
    margin: 0 auto;
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
}

.introductionMain{
    display: flex;
    height: 30rem;
}

.introductionText{
    padding: 1rem;
    background-color: rgba(0,0,0,.6);
    border-radius: 1rem;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-75%,-75%);
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    width: 30rem;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 22px 70px 4px;
    animation-name: slideshowMain;
    animation-duration: .8s;
    animation-delay: 0s;
    padding-left: 3rem;
}

.introductionText h6{
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.introductionIMGFirst, .introductionIMGSecond, .introductionIMGThird{
    position: relative;
    border-radius: 1rem;
    width: 100%;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.introductionIMGFirst{
    background-image: url("https://www.lifeandstylemag.com/wp-content/uploads/2022/08/ryan-gosling-net-worth-feature.jpg?crop=0px%2C91px%2C3436px%2C1806px&resize=1200%2C630&quality=86&strip=all");
}

.introductionIMGSecond{
    background-image:url("./assets/covers/musicpfp1.jpg");
}

.introductionIMGThird{
    background-image: url("https://www.lifeandstylemag.com/wp-content/uploads/2022/08/ryan-gosling-net-worth-feature.jpg?crop=0px%2C91px%2C3436px%2C1806px&resize=1200%2C630&quality=86&strip=all");
}

.introductionPerformer{
    display: flex;
    align-items: center;
    gap: 1rem;
    animation-name: slideLeft;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: .2s;
}

@keyframes slideLeft {
    from{
        margin-left: -4rem;
    }

    to{
        margin-left: 0rem;
    }
}

.slideRightAnimation{
    animation-name: slideRight;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
}

@keyframes slideRight {
    from{
        margin-left: 10rem;
    }

    to{
        margin-left: 0rem;
    }
}

.introductionPerformer h3{
    margin: 0;
}

.introductionPerformer h3 a{
    text-decoration: none;
    color: var(--mainC);
    font-weight: 800;
    letter-spacing: 2px;
   
}

.introductionInteract{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    animation-name: appear;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
}

@keyframes appear {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.introductionInteract button{
    padding: .5rem 2rem;
    border-radius: 1rem;
    background-color: white;
    color: black;
    font-weight: 700;
    border: 0;
    transition: all .3s;
    filter: drop-shadow(1px 0px 10px var(--mainC))
}

.introductionInteract button:hover{
    background-color: var(--mainC);
    scale: 1.01;
    color: white;
}

#introductionHeart{
    font-size: 3rem;
    cursor: pointer;
    transition: all .3s;
}

#introductionHeart:hover{
    color: var(--mainC);
}

/* Ajánlott előadók */
.recommendedTopArtists{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
}

.topArtistsText{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.topArtistsText h1{
    font-size: 2rem;
    text-shadow: 1px 10px 10px black;
}

.topArtistsText h2, .topArtistsText h1{
    margin: 0;
}

.topArtistsText h2 a{
    text-decoration: none;
    color: var(--mainC);
    font-size: 1.5rem;
}

.topArtistsText h2 a:hover{
    text-decoration: underline;
}

.topArtistsSection{
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

#topArtistsBreak{
    display: none;
}

.topArtists{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: blue; */
    width: 20rem;
    height: 20rem;
    margin: 1rem 0 0 0;
    transition: all .2s;
    border-radius: 1rem;
    cursor: pointer;
}

.topArtists:hover{
    background-color: rgba(82, 82, 82, 0.2);
}

.topArtRad{
    border-radius: 50%;
}

#ArtistOneIMG, #ArtistTwoIMG, #ArtistThreeIMG, #ArtistFourIMG{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}

#ArtistOneIMG{
    background-image: url("https://www.lifeandstylemag.com/wp-content/uploads/2022/08/ryan-gosling-net-worth-feature.jpg?crop=0px%2C91px%2C3436px%2C1806px&resize=1200%2C630&quality=86&strip=all");
}

#ArtistTwoIMG{
    background-image:url("./assets/covers/musicpfp1.jpg");
}

#ArtistThreeIMG{
    background-image: url("https://www.lifeandstylemag.com/wp-content/uploads/2022/08/ryan-gosling-net-worth-feature.jpg?crop=0px%2C91px%2C3436px%2C1806px&resize=1200%2C630&quality=86&strip=all");
}

#ArtistFourIMG{
    background-image: url("https://www.lifeandstylemag.com/wp-content/uploads/2022/08/ryan-gosling-net-worth-feature.jpg?crop=0px%2C91px%2C3436px%2C1806px&resize=1200%2C630&quality=86&strip=all");
}

.ArtistText{
    text-align: center;
}

.ArtistText h3{
    margin: 1rem 0 0 0;
}

.ArtistText h3 a, .AlbumText h3 a, .AlbumText h6 a, .recentlyPlayedText h3 a, .recentlyPlayed h6 a{
    color: white;
    text-decoration: none;
}

.recommendedTopAlbums{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
}

.topAlbumsSection{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: black; */
}

.topAlbums{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: blue; */
    width: 14rem;
    height: 17rem;
    margin: 1rem 0 0 0;
    transition: all .2s;
    border-radius: 1rem;
    cursor: pointer;
}

.topAlbums:hover{
    background-color: rgba(82, 82, 82, 0.2);
}

.AlbumText{
    /* background-color: red; */
    width: 12rem;
    text-align: start;
}

.AlbumText h6 a{
    color: rgb(155, 155, 155);
}

.AlbumText h6 a:hover{
    text-decoration: underline;
}

.AlbumText h3, .AlbumText h6{
    margin: 0;
}

#AlbumOneIMG, #AlbumTwoIMG, #AlbumThreeIMG, #AlbumFourIMG{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 12rem;
    width: 12rem;
}

#AlbumOneIMG{
    background-image: url("https://www.lifeandstylemag.com/wp-content/uploads/2022/08/ryan-gosling-net-worth-feature.jpg?crop=0px%2C91px%2C3436px%2C1806px&resize=1200%2C630&quality=86&strip=all");
}

#AlbumTwoIMG{
    background-image: url("https://www.lifeandstylemag.com/wp-content/uploads/2022/08/ryan-gosling-net-worth-feature.jpg?crop=0px%2C91px%2C3436px%2C1806px&resize=1200%2C630&quality=86&strip=all");
}

#AlbumThreeIMG{
    background-image: url("https://www.lifeandstylemag.com/wp-content/uploads/2022/08/ryan-gosling-net-worth-feature.jpg?crop=0px%2C91px%2C3436px%2C1806px&resize=1200%2C630&quality=86&strip=all");
}

#AlbumFourIMG{
    background-image: url("https://www.lifeandstylemag.com/wp-content/uploads/2022/08/ryan-gosling-net-worth-feature.jpg?crop=0px%2C91px%2C3436px%2C1806px&resize=1200%2C630&quality=86&strip=all");
}

.recentlyPlayedByUser{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    /* background-color: blue; */
}

.recentlyPlayedSection{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
}

.recentlyPlayed{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 14rem;
    height: 17rem;
    margin: 1rem 0 0 0;
    transition: all .2s;
    border-radius: 1rem;
    cursor: pointer;
}

.recentlyPlayed:hover{
    background-color: rgba(82, 82, 82, 0.2);
}

.recentlyPlayedText{
    /* background-color: red; */
    width: 12rem;
    text-align: start;
}

.recentlyPlayedText h6 a{
    color: rgb(155, 155, 155);
}

.recentlyPlayedText h6 a:hover{
    text-decoration: underline;
}

.recentlyPlayedText h3, .recentlyPlayedText h6{
    margin: 0;
}

#recentlyPlayedOneIMG, #recentlyPlayedTwoIMG, #recentlyPlayedThreeIMG, #recentlyPlayedFourIMG{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 12rem;
    width: 12rem;
}

#recentlyPlayedOneIMG{
    background-image: url("https://www.lifeandstylemag.com/wp-content/uploads/2022/08/ryan-gosling-net-worth-feature.jpg?crop=0px%2C91px%2C3436px%2C1806px&resize=1200%2C630&quality=86&strip=all");
}

#recentlyPlayedTwoIMG{
    background-image: url("https://www.lifeandstylemag.com/wp-content/uploads/2022/08/ryan-gosling-net-worth-feature.jpg?crop=0px%2C91px%2C3436px%2C1806px&resize=1200%2C630&quality=86&strip=all");
}

#recentlyPlayedThreeIMG{
    background-image: url("https://www.lifeandstylemag.com/wp-content/uploads/2022/08/ryan-gosling-net-worth-feature.jpg?crop=0px%2C91px%2C3436px%2C1806px&resize=1200%2C630&quality=86&strip=all");
}

#recentlyPlayedFourIMG{
    background-image: url("https://www.lifeandstylemag.com/wp-content/uploads/2022/08/ryan-gosling-net-worth-feature.jpg?crop=0px%2C91px%2C3436px%2C1806px&resize=1200%2C630&quality=86&strip=all");
}

.musicBottom{
    display: none;
    background-color: blue;
}

.navIconDNone{
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--grayish);
    transition: color .3s;
}

.navIconDNone:hover{
    color: var(--mainC);
}

@keyframes slideshowMain{
    from{margin-top: -10rem;}
    to{margin-top: 0rem;}
}


@media screen and (max-width:1870px){
    #ArtistOneIMG, #ArtistTwoIMG, #ArtistThreeIMG{
        height: 15rem;
        width: 15rem;
    }

    .topArtistsSection{
        gap: 2rem;
    }
}

@media screen and (max-width: 1835px){
    .topAlbumsSection, .recentlyPlayedSection{
        gap: 2rem;
    }
}

@media screen and (max-width:1765px){
    #ArtistOneIMG, #ArtistTwoIMG, #ArtistThreeIMG{
        height: 15rem;
        width: 15rem;
    }

    .topArtistsSection{
        gap: 0rem;
    }
}

@media screen and (max-width:1724px){
    .recentlyPlayedSection, .topAlbumsSection{
        gap: 1rem;
    }
}

@media screen and (max-width:1690px){

    .topArtists{
        width: 18rem;
    }

    .topArtistsSection{
        gap: 1rem;
    }
}

@media screen and (max-width:1670px){
    .topAlbumsSection, .recentlyPlayedSection{
        gap: 3rem;
    }

    .topAlbums, .recentlyPlayed{
        width: 11rem;
        height: 14rem;
    }

    .recentlyPlayedText, .AlbumText{
        width: 9rem;
    }

    #recentlyPlayedOneIMG, #recentlyPlayedTwoIMG, #recentlyPlayedThreeIMG, #recentlyPlayedFourIMG, #AlbumOneIMG, #AlbumTwoIMG, #AlbumThreeIMG, #AlbumFourIMG{
        width: 9rem;
        height: 9rem;
    }
}

@media screen and (max-width:1618px){
    .topArtistsSection{
        gap: 4rem;
    }

    .topArtists{
        width: 15rem;
        height: 18rem;
    }

    #ArtistOneIMG, #ArtistTwoIMG, #ArtistThreeIMG{
        height: 10rem;
        width: 10rem;
    }
}

@media screen and (max-width:1559px){
    .topAlbumsSection, .recentlyPlayedSection{
        gap: 2rem;
    }
}

@media screen and (max-width:1556px){
    .topArtistsSection{
        gap: 3rem;
    }
}

@media screen and (max-width:1520px){
    .topArtistsSection{
        gap: 2rem;
    }
}

@media screen and (max-width:1503px){
    .topAlbumsSection, .recentlyPlayedSection{
        gap: 1rem;
    }
}

@media screen and (max-width:1483px){
    .topArtistsSection{
        gap: 1rem;
    }

    .topArtists{
        width: 15rem;
        height: 18rem;
    }
}

@media screen and (max-width:1445px){
    .topArtistsSection{
        justify-content: space-between;
        gap: 2rem;
    }

    .topArtists{
        width: 22rem;
        height: 25rem;
    }

    #ArtistOneIMG, #ArtistTwoIMG, #ArtistThreeIMG{
        height: 20rem;
        width: 20rem;
    }

    .topAlbumsSection, .recentlyPlayedSection{
        justify-content: space-evenly;
    }

    .topAlbums, .recentlyPlayed{
        width: 17rem;
        height: 20rem;
    }

    #recentlyPlayedOneIMG, #recentlyPlayedTwoIMG, #recentlyPlayedThreeIMG, #recentlyPlayedFourIMG, #AlbumOneIMG, #AlbumTwoIMG, #AlbumThreeIMG, #AlbumFourIMG{
        width: 15rem;
        height: 15rem;
    }
    
    .recentlyPlayedText, .AlbumText{
        width: 15rem;
    }

    #topArtistsBreak{
        display: flex;
    }
}

@media screen and (max-width:1426px){
    .topArtistsSection{
        gap: 1rem;
    }

    .topArtists{
        width: 22rem;
        height: 25rem;
    }

    #ArtistOneIMG, #ArtistTwoIMG, #ArtistThreeIMG, #ArtistFourIMG{
        height: 20rem;
        width: 20rem;
    }
}

@media screen and (max-width:1407px){
    .topArtists{
        width: 18rem;
        height: 21rem;
    }

    #ArtistOneIMG, #ArtistTwoIMG, #ArtistThreeIMG, #ArtistFourIMG{
        height: 16rem;
        width: 16rem;
    }
}

@media screen and (max-width:1275px){
    .middle{
        height: 80vh;
    }
    
    .leftSide, .leftSideFlex, .leftSideTitle, .leftSideMain, .leftSideLogout{
        width: 5rem;
    }

    .leftSideTitleText{
        display: none;
    }

    .leftMainIcon{
        color: var(--mainC);
    }

    .leftSideFlex{
        padding: .5rem 0rem .5rem 1.3rem;   
        margin: 0;
        width: 4rem;
    }

    .leftMainIcons{
        font-size: 1.35rem;
    }

    .leftSidePlaylists{
        overflow-x: hidden;
    }

    .leftSide h5, h4{
        display: none;
    }

    .leftSideLogout .leftSideFlex{
        margin: 0 auto;
    }

    .leftSideLogout .leftSideFlex .leftMainIcons{
        margin-left: .2rem;
    }
    
    .bi-heart{
        margin-top: .3rem;
    }

    .bi-people{
        margin-top: .1rem;
    }

    .leftIconFix{
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .topArtists{
        width: 15rem;
        height: 15rem;
    }

    .topArtistsSection{
        gap: 2rem;
    }

    #ArtistOneIMG, #ArtistTwoIMG, #ArtistThreeIMG, #ArtistFourIMG{
        height: 10rem;
        width: 10rem;
    }

    .middleRightSide{
        display: none;
    }

    .topAlbumsSection, .recentlyPlayedSection{
        gap: 2rem;
    }

    .topAlbums, .recentlyPlayed{
        width: 14rem;
        height: 17rem;
    }

    #recentlyPlayedOneIMG, #recentlyPlayedTwoIMG, #recentlyPlayedThreeIMG, #recentlyPlayedFourIMG, #AlbumOneIMG, #AlbumTwoIMG, #AlbumThreeIMG, #AlbumFourIMG{
        width: 12rem;
        height: 12rem;
    }

    .recentlyPlayedText, .AlbumText{
        width: 12rem;
    }

    .musicBottom{
        position: fixed;
        padding: 1rem 4rem 1rem 0;
        justify-content: center;
        display: flex;
        align-items: center;
        background-color: var(--gray);
        bottom: 0;
        width: 100%;
        gap: 0rem;
    }

    .musicBottom .musicSong{
        margin: 0;
        width: 40%;
    }

    .musicBottom .musicSelect{
        width: 40%;
    }

    .musicSelect{
        margin: 0;
    }

    .musicBottom .musicLyrics{
        margin: 0;
    }
}

@media screen and (max-width:1203px){
    .topArtistsSection{
        justify-content: space-evenly;
    }

    .topArtists{
        width: 21rem;
        height: 21rem;
    }

    #ArtistOneIMG, #ArtistTwoIMG, #ArtistThreeIMG, #ArtistFourIMG{
        height: 16rem;
        width: 16rem;
    }
}

@media screen and (max-width:1170px){
    nav ul .navUlLeft{
        gap: 2rem;
    }

    nav ul .navUlRight{
        gap: 2rem;
    }
}

@media screen and (max-width:1131px){
    .topAlbumsSection, .recentlyPlayedSection{
        justify-content: space-evenly;
    }

    .topAlbums, .recentlyPlayed{
        width: 20rem;
        height: 23rem;
    }

    #recentlyPlayedOneIMG, #recentlyPlayedTwoIMG, #recentlyPlayedThreeIMG, #recentlyPlayedFourIMG, #AlbumOneIMG, #AlbumTwoIMG, #AlbumThreeIMG, #AlbumFourIMG{
        width: 18rem;
        height: 18rem;
    }
    
    .recentlyPlayedText, .AlbumText{
        width: 18rem;
    }
}

@media screen and (max-width: 913px){
    .topArtistsSection{
        justify-content: space-between;
    }

    .topArtists{
        width: 20rem;
        height: 20rem;
    }

     #ArtistOneIMG, #ArtistTwoIMG, #ArtistThreeIMG, #ArtistFourIMG{
        height: 15rem;
        width: 15rem;
    }
}

/* @media screen and (max-width:890px){
    .middle{
        height: 80%;
    }

    .middleMain{
        height: 100%;
    }
} */

@media screen and (max-width:875px){
    nav ul{
        flex-direction: column;
        gap: 1rem;
    }

    .navUlMiddle{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navUlMiddle .navUlMiddleInput{
        width: 35rem;
    }

    nav ul .navUlLeft{
        gap: 4rem;
    }

    nav ul .navUlRight{
        width: 100%;
        justify-content: space-around;
    }

    nav ul .navUlRight li a .icons{
        font-size: 3rem;
    }

    .middle{
        height: 55vh;
    }
    
    .musicBottom{
        padding-top: 3rem;
        padding-bottom: 2rem;
        flex-direction: column;
    }

    .musicBottom .musicSong{
        margin: 0;
        width: 90%;
    }

    .musicBottom .musicSelect{
        width: 90%;
    }

    .musicBottom .musicLyrics{
        flex-direction: row;
        margin: 2rem 0 0 0;
    }
}

@media screen and (max-width:797px){
    .topArtistsSection{
        justify-content: space-evenly;
    }

    .topArtists{
        width: 15rem;
        height: 15rem;
    }

     #ArtistOneIMG, #ArtistTwoIMG, #ArtistThreeIMG, #ArtistFourIMG{
        height: 10rem;
        width: 10rem;
    }

    .topAlbumsSection, .recentlyPlayedSection{
        justify-content: space-evenly;
    }

    .topAlbums, .recentlyPlayed{
        width: 15rem;
        height: 18rem;
    }

    #recentlyPlayedOneIMG, #recentlyPlayedTwoIMG, #recentlyPlayedThreeIMG, #recentlyPlayedFourIMG, #AlbumOneIMG, #AlbumTwoIMG, #AlbumThreeIMG, #AlbumFourIMG{
        width: 13rem;
        height: 13rem;
    }
    
    .recentlyPlayedText, .AlbumText{
        width: 13rem;
    }
}

@media screen and (max-width:747px){
    .navUlMiddle .navUlMiddleInput{
        width: 30rem;
    }
}

@media screen and (max-width: 659px){
    .navUlMiddle .navUlMiddleInput{
        width: 25rem;
    }
}

@media screen and (max-width:631px){
    .topArtistsSection{
        justify-content: space-between;
    }

    .topArtists{
        width: 14rem;
        height: 14rem;
    }

     #ArtistOneIMG, #ArtistTwoIMG, #ArtistThreeIMG, #ArtistFourIMG{
        height: 9rem;
        width: 9rem;
    }
}

@media screen and (max-width:628px){
    .topAlbums, .recentlyPlayed{
        width: 12rem;
        height: 15rem;
    }

    #recentlyPlayedOneIMG, #recentlyPlayedTwoIMG, #recentlyPlayedThreeIMG, #recentlyPlayedFourIMG, #AlbumOneIMG, #AlbumTwoIMG, #AlbumThreeIMG, #AlbumFourIMG{
        width: 10rem;
        height: 10rem;
    }
    
    .recentlyPlayedText, .AlbumText{
        width: 10rem;
    }
}

@media screen and (max-width:610px){
    .introduction{
        display: none;
    }

    .recommendedTopArtists{
        margin-top: 0;
    }
}

@media screen and (max-width:602px){
    .navIconDNone{
        display: block;
    }

    .navUlLeft li a{
        display: none;
    }
}

@media screen and (max-width:600px){
    .middle{
        height: 55vh;
    }
}

@media screen and (max-width:594px){
    .topArtistsSection{
        justify-content: center;
    }

    .topArtists{
        width: 12rem;
        height: 12rem;
    }

    #ArtistOneIMG, #ArtistTwoIMG, #ArtistThreeIMG, #ArtistFourIMG{
        height: 8rem;
        width: 8rem;
    }
}

@media screen and (max-width:559px){
    .navUlMiddle .navUlMiddleInput{
        width: 20rem;
    }
}

@media screen and (max-width:527px){
    .FlexWrap{
        display: none;
    }
    
    #topArtistsBreak{
        display: none;
    }
}

@media screen and (max-width:526px){
    .topAlbums, .recentlyPlayed{
        width: 10rem;
        height: 13rem;
    }

    #recentlyPlayedOneIMG, #recentlyPlayedTwoIMG, #recentlyPlayedThreeIMG, #recentlyPlayedFourIMG, #AlbumOneIMG, #AlbumTwoIMG, #AlbumThreeIMG, #AlbumFourIMG{
        width: 8rem;
        height: 8rem;
    }
    
    .recentlyPlayedText, .AlbumText{
        width: 8rem;
    }

    .topArtists{
        width: 10rem;
        height: 10rem;
    }

    .ArtistText h3 a{
        font-size: smaller;
    }

    #ArtistOneIMG, #ArtistTwoIMG, #ArtistThreeIMG, #ArtistFourIMG{
        height: 6rem;
        width: 6rem;
    }
}

@media screen and (max-width:496px){
    nav ul .navUlLeft{
        gap: 2rem;
    }

    .navUlMiddle .navUlMiddleInput{
        width: 15rem;
    }
}

@media screen and (max-width:494px){
    .middle{
        height: 55vh;
    }
}

@media screen and (max-width:460px){
    .topAlbumsSection, .recentlyPlayedSection{
        justify-content: center;
    }

    .topAlbums, .recentlyPlayed{
        width: 8rem;
        height: 11rem;
    }

    #recentlyPlayedOneIMG, #recentlyPlayedTwoIMG, #recentlyPlayedThreeIMG, #recentlyPlayedFourIMG, #AlbumOneIMG, #AlbumTwoIMG, #AlbumThreeIMG, #AlbumFourIMG{
        width: 6rem;
        height: 6rem;
    }
    
    .recentlyPlayedText, .AlbumText{
        width: 6rem;
    }

    .topArtistsSection{
        justify-content: center;
        gap: 1rem;
    }

    .topArtists{
        width: 8rem;
        height: 11rem;
    }

    .ArtistText h3 a{
        font-size: smaller;
    }

    #ArtistOneIMG, #ArtistTwoIMG, #ArtistThreeIMG, #ArtistFourIMG{
        height: 6rem;
        width: 6rem;
    }
}

@media screen and (max-width:410px){
    .middle{
        height: 55vh;
    }
}






@media screen and (max-height:985px){
    .middle{
        height: 85vh;
    }
}

@media screen and (max-height:841px){
    
}