body,
html {
    overflow: hidden;
    height: 100%;
}
:root {
    --main: rgb(99, 22, 214)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: radial-gradient(ellipse at bottom, #040616 0%, #011133f5 50%, #021549e5 100%);
    font-family: 'Courier New', Courier, monospace;
}


header {
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    margin-bottom: 40px;
}

.header-left {
    font-size: 2.3rem;
    margin-top: 10px;

}

.header-right {
    align-items: center;
    display: flex;
    column-gap: 10px;
}

.header-right p {
    color: gray;
}
.header-right a{
    color: white;
    text-decoration: none;
}

.header-right a:hover {
    text-decoration: underline;
}

.registration-window {

    color: rgb(168, 168, 168);
    display: flex; 
    justify-content: center;
    background-color: #0c162d;
    border: 1px solid rgba(73, 72, 72, 0.308);
    margin: 0 auto;
    max-width: 600px;
    border-radius: 20px;
    flex-direction: column;
    padding: 40px 30px;
}

.rHeader {
    margin-bottom: 20px;
}

.rContent {
    display: flex;
    flex-direction: column;
}

.email {
    display: flex;
    flex-direction: column;
    gap: 5px;
    animation: transitionIn .4s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-2vh);
    }
    to {
        opacity: 1;
        transform: translateY(0vh);
    }
}

.emailForm {
    display: flex;
    column-gap: 10px;
}

.email-Input {
    background-color: rgb(35, 35, 68);
    outline: none;
    padding: 5px 10px;
    border: none;
    width: 100%;
    border: 1px solid rgb(10, 156, 156);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    transition: all .2s;
}

.email-Input:hover{
    border: 1px solid rgb(7, 226, 226);
}


.email-Input:focus{
    border: 1px solid rgb(7, 226, 226);
}

.resume{
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid rgb(170, 168, 168);
    font-size: .8rem;
    cursor: pointer;
    transition: all .2s;
    color: rgb(211, 210, 210);
}
.resume:hover{
    border: 1px solid #06d8d8;
}
.errorMessege {
    display: none;
    margin: 0 auto;
    font-size: .9rem;
    color: rgb(168, 168, 168);
    max-width: 500px;
    margin-top: 25px;
}
