@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

body,
html {
    overflow: hidden;
    zoom: unset;
    height: 100%;

}

:root {
    --main: rgb(99, 22, 214);
    --buttonRight: rgb(40, 200, 6);
    --buttonDefault: rgb(10, 156, 156);
    --passwordWrong: rgb(196, 7, 7);
    --passwordMid: rgb(233, 168, 84);
    --passwordCorrect: rgb(14, 150, 14);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#bg-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(50%);
    z-index: -100;
}

body {
    background-image: radial-gradient(ellipse at bottom, #040616 0%, #011133 50%, #021549 100%);
    font-family: 'Courier New', Courier, monospace;
}


header {
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    margin-bottom: 40px;
}

.header-left {
    font-size: 2.3rem;
    margin-top: 10px;

}

.header-right {
    align-items: center;
    display: flex;
    column-gap: 10px;
}

.header-right p {
    color: gray;
}

.header-right a {
    color: white;
    text-decoration: none;
}

.header-right a:hover {
    text-decoration: underline;
}

.registration-window {
    color: rgb(168, 168, 168);
    display: flex;
    justify-content: center;
    background-color: #0c162d;
    border: 1px solid rgba(73, 72, 72, 0.308);
    margin: 0 auto;
    max-width: 600px;
    border-radius: 10px;
    flex-direction: column;
    padding: 40px 30px;
}

.rHeader {
    margin-bottom: 20px;
}

.rContent {
    display: flex;
    flex-direction: column;
}

.email {
    display: flex;
    flex-direction: column;
    gap: 5px;
    animation: transitionIn .4s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-2vh);
    }

    to {
        opacity: 1;
        transform: translateY(0vh);
    }
}

.emailForm {
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 2rem;
}

.email label {
    color: #06d8d8;
    font-weight: bolder;
}

.arrow {
    font-size: 1.5rem;
}

.email-Input {
    background-color: #0c162d;
    outline: none;
    padding: 5px 10px;
    border: none;
    width: 100%;
    border: 1px solid rgb(10, 156, 156);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    transition: all .2s;
    font-size: 1rem;
}

.correct {
    display: none;
    font-size: 1.5rem;
    color: rgb(0, 255, 0);
}

.mistake {
    font-size: 1.5rem;
    color: red;
    display: none;
}

.email-Input:hover {
    border: 1px solid rgb(7, 226, 226);
}


.email-Input:focus {
    border: 1px solid rgb(7, 226, 226);
}

.resume {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid rgb(170, 168, 168);
    font-size: .8rem;
    cursor: pointer;
    transition: all .2s;
    color: rgb(211, 210, 210);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.resume:hover {
    border: 1px solid #06d8d8;
}



/* Username paraméterei */
.username {
    display: flex;
    flex-direction: column;
    gap: 5px;
    animation: transitionIn .4s;
}

.usernameForm {
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 2rem;
}

.username label {
    color: #06d8d8;
    font-weight: bolder;
}

.arrow-U,
.arrow,
.arrow-P {
    font-size: 1.4rem;
}

.correct-U {
    display: none;
    font-size: 1.5rem;
    color: rgb(0, 255, 0);
}

.mistake-U {
    font-size: 1.5rem;
    color: red;
    display: none;
}

.username-Input {
    background-color: #0c162d;
    outline: none;
    padding: 5px 10px;
    border: none;
    width: 100%;
    border: 1px solid rgb(10, 156, 156);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    transition: all .2s;
    font-size: 1rem;
}

.username-Input:hover {
    border: 1px solid rgb(7, 226, 226);
}


.username-Input:focus {
    border: 1px solid rgb(7, 226, 226);
}


.resume-U {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid rgb(170, 168, 168);
    font-size: .8rem;
    cursor: pointer;
    transition: all .2s;
    color: rgb(211, 210, 210);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.resume-U:hover {
    border: 1px solid #06d8d8;
}


/* Password paraméterei */
.password {
    display: none;
    flex-direction: column;
    gap: 5px;
    animation: transitionIn .4s;
}

.passwordForm {
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 2rem;
}

.password label {
    color: #06d8d8;
    font-weight: bolder;
}

.correct-P {
    display: none;
    font-size: 1.5rem;
    color: rgb(0, 255, 0);
}

.mistake-P {
    font-size: 1.5rem;
    color: red;
    display: none;
}

.passwordDiv {
    display: flex;
    width: 100%;
    position: relative;
}

.password-Input {
    background-color: #0c162d;
    outline: none;
    padding: 5px 10px;
    border: none;
    width: 100%;
    border: 1px solid rgb(10, 156, 156);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    transition: all .2s;
    font-size: 1rem;
    position: relative;
}

.password-Input:hover {
    border: 1px solid rgb(7, 226, 226);
}


.password-Input:focus {
    border: 1px solid rgb(7, 226, 226);
}


.resume-P {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid rgb(170, 168, 168);
    font-size: .8rem;
    cursor: pointer;
    transition: all .2s;
    color: rgb(211, 210, 210);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.resume-P:hover {
    border: 1px solid #06d8d8;
}


/* Password ellenőrző */

.passwordConf {
    display: none;
    flex-direction: column;
    gap: 5px;
    animation: transitionIn .4s;
}

.passwordConfForm {
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 2rem;
}

.passwordConf label {
    color: #06d8d8;
    font-weight: bolder;
}

.correct-PC {
    display: none;
    font-size: 1.5rem;
    color: rgb(0, 255, 0);
}

.mistake-PC {
    font-size: 1.5rem;
    color: red;
    display: none;
}

.passwordConfDiv {
    display: flex;
    width: 100%;
    position: relative;
}

.passwordConf-Input {
    background-color: #0c162d;
    outline: none;
    padding: 5px 10px;
    border: none;
    width: 100%;
    border: 1px solid rgb(10, 156, 156);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    transition: all .2s;
    font-size: 1rem;
    position: relative;
}

.passwordConf-Input:hover {
    border: 1px solid rgb(7, 226, 226);
}


.passwordConf-Input:focus {
    border: 1px solid rgb(7, 226, 226);
}


.passYes {
    top: 10%;
    right: 2%;
    position: absolute;
    font-size: 1.4rem;
    cursor: pointer;
    display: none;
    transition: all .1s;
}

.passNo {
    top: 10%;
    right: 2%;
    position: absolute;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all .1s;
}

.passYes:hover, .passNo:hover {
    scale: 1.1;
}
.passNo:active, .passYes:active {
    scale: 1;
}

.errorMessege {
    display: none;
    margin: 0 auto;
    font-size: .9rem;
    color: rgb(240, 240, 240);
    max-width: 500px;
    margin-top: 25px;
}

.errorMessegeUsername {
    display: none;
    margin: 0 auto;
    font-size: .9rem;
    color: rgb(168, 168, 168);
    max-width: 500px;
    margin-top: 25px;
}


/* Jelszó ellenőrző */
.passwordChecker {
    display: none;
    flex-direction: column;
    margin: 0 auto;
    font-size: .9rem;
    color: rgb(168, 168, 168);
    max-width: 500px;
    margin-top: 25px;
    row-gap: 10px;
    font-size: 1rem;
    animation: transitionIn .3s;
    font-weight: 700;
}
.lines {
    display: flex;
    column-gap: 10px;
}

.line1, .line2, .line3 {
    background-color: gray;
    width: 50px;
    height: 4px;
    border-radius: 50px;
    animation: transitionInLine .2s;
}

.resume-PC {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid rgb(170, 168, 168);
    font-size: .8rem;
    cursor: pointer;
    transition: all .2s;
    color: rgb(211, 210, 210);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.resume-PC:hover {
    border: 1px solid #06d8d8;
}

@keyframes transitionInLine {
    from {
        opacity: 0;
        transform: translateY(-1vh);
    }

    to {
        opacity: 1;
        transform: translateY(0vh);
    }
}